body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOChtnRD0ov0PsZGWP-jDgkPf-8Z4nnGTLvQ&usqp=CAU);
}


h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;

}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
   color: rgb(255, 233, 243);

}


p {
    text-align: center;
}

picture {
    display: flex;
    justify-content: center;
}

picture img {
    width: 20%;
}

#opciones {
    text-align: center;
    list-style: none;
}

#opciones li {
    display: inline-block;
    padding: 30px;
}

.boton {
    text-decoration: none;
    color: rgb(67, 84, 109);
    border: 2px solid rgba(178, 210, 252, 0.842);
    padding: 20px;

}

.boton:hover {
    background-color: rgb(191, 227, 248);
    color: rgb(92, 101, 133);
}

#musica {
    list-style: none;
}

header {
    background-color: rgb(247, 237, 246);
}

p {
    color: rgb(8, 8, 8);
    background-color: rgb(232, 237, 243);
    padding: 30px 20px;

}

